<!DOCTYPE html>
<html>
  <head>
    <title>Simple short urls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container'>
    <% if notice %>
      <p id="notice" class='alert alert-info'><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
